.banner,
.login-banner {
    display: block;
    padding: 24px;

    text-align: center;

    background: rgba(255, 255, 255, 0.8);
}

.banner {
    font-size: 24px;
    top: 60px;
}

.login-banner {
    top: 220px;
    font-size: 24px;
    line-height: 24px;
}
    .login-banner .signup,
    .login-banner .login {
        display: inline-block;
        padding: 12px;
        text-decoration: none;
    }

    .login-banner .signup {
        background: #e1e1e1;
    }
    .login-banner .login {
        background: #eee;
    }

.faces .face .name {
    opacity: 0;
}