.messages {
    list-style-type: none;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

    .messages .message {
        min-height: 92px;
        margin: 16px;
    }

    .messages .message:nth-child(even) {
        background: #eee;
    }

        .messages .message .message-profile {
            position: relative;
            height: 92px;
            width: 92px;
            float: left;
            margin-right: 8px;
            margin-bottom: 8px;
            overflow: hidden;
        }

            .messages .message .message-profile img {
                width: 92px;
                height: auto;
            }

            .messages .message .message-profile p {
                display: block;
                position: absolute;
                bottom: 0px;

                width: 92px;
                margin: 0px;
                padding-top: 4px;
                padding-bottom: 4px;

                font-size: 16px;
                line-height: 16px;
                vertical-align: text-bottom;
                text-align: center;

                color: #111;
                background-color: rgba(255, 255, 255, 0.8);
            }

.message-post {
    display: block;
    text-align: center;
}
    .message-post div {
        display: inline-block;
        width: 70%;
        min-width: 250px;
    }

        .message-post div input {
            width: 100%;
        }

    .message-post input[type=submit] {
        width: auto;
    }

.profile {
    float: right;
    width: 192px;

    margin-left: 16px;
    margin-bottom: 8px;

    background: #e1e1e1;
}

    .profile img {
        width: 192px;
        height: auto;
    }

    .profile p {
        padding-left: 8px;
    }