@import url(https://fonts.googleapis.com/css?family=BenchNine:300,400,700|Kranky);

body {
    margin: 0px;

    font-size: 18px;
    font-family: 'BenchNine' sans-serif;
}

.header {
    height: 48px;
    background: #eee;
}

    .header .logo {
        display: inline-block;
        margin: 4px;
        vertical-align: top;

        font-size: 40px;
        line-height: 40px;
        font-family: 'Kranky';
    }

        .header .logo a {
            text-decoration: none;
        }

    .header .page-profile {
        float: right;
        line-height: 0px;
        background: #e1e1e1;
    }
        .header .page-profile a {
            text-decoration: none;
        }

        .header .page-profile img {
            height: 40px;
            margin: 4px;
        }

        .header .page-profile .name,
        .header .page-profile .login,
        .header .page-profile .faces,
        .header .page-profile .logout {
            display: inline-block;
            line-height: 18px;
            font-size: 18px;
            margin: 15px;
            vertical-align: top;
        }

        .header .page-profile .name {
            font-weight: bold;
        }

.content {
    display: block;
    min-height: 100vh;
}

.footer {
    padding: 24px;
    text-align: right;

    color: #222;
    background: #eee;
}

    .footer .copy {
        float: left;
    }

.page-message {
    padding: 10px;
    background: #ccc;
}